.home__middle {
    /* height: 300vh; */
}

.achievements {
    margin-top: 50px;
}

.achievements__body>.card {
    background-color: #dfd9e2;
    opacity: 0.7;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1.9s all ease;
}

body {
    background-image: url("edumoon background.jfif");
    background-size: cover;
}

img {
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 500px;
    width: 200px;
    height: 100px;
}

.reveal.active {
    transform: translateY(0);
    opacity: 0.9;
}