.home__middle {
    /* height: 300vh; */
}

.achievements {
    margin-top: 50px;
}

.achievements__body>.card {
    background-color: #dfd9e2;
    opacity: 0.7;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1.9s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 0.9;
}